@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  min-height: 100vh;
  background-image: url('../images/header-bg.jpg');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  &__inner{
    padding-top: 43px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__content{
    margin-bottom: auto;
  &-title{
    font-size: 100px;
    line-height: 122px;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 0.02em;
    color: $bg;
    margin-left: -6px;
    text-transform: uppercase;
    margin-bottom: auto;
    & span{
      display: block;
      font-weight: 500;
      font-size: 30px;
      line-height: 37px;
      margin-left: 6px;
    }
  }
  &-slogan {
    max-width: 703px;
    font-size: 30px;
    line-height: 37px;
    font-weight: 700;
    color: rgb(253, 253, 253);
    margin-bottom: 30px;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.02em;
   }
  &-btn{
    width: 303px;
    height: 69px;
    background-color: $accent;
    color: $bg;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    line-height: 29px;
    font-weight: 700;
    font-family:'Montserrat', sans-serif;
  }
  }
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: auto;
  &__list{
    display: flex;
    &-link{
      text-transform: uppercase;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      color: $bg;
      & + .nav__list-link{
        margin-left: 20px;
      }
    }
  }
  &__login{
    min-width: 215px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $bg;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    color: $bg;
    text-transform: uppercase;
  }
}
.about{
  &-quest{
    position: relative;
    &__bg{
    width: 50%;
    height: 100%;
    background-image: url('../images/about-quest-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% center;
    position: absolute;
    right: 0;
    }
    &__inner{
      padding: 70px 0 58px;
    }
    &__title{
      margin-bottom: 30px;
    }
    &__text{
      max-width: 500px;
      margin-bottom: 10px;
      & + .about-quest__text{
        margin-bottom: 30px;
      }
    }
  }
  &-stations{
    position: relative;
    &__item{
      height: 570px;
      &-inner{
        height: 570px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &--main{
      background-image: url('../images/stations/main.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
     &--museum{
      background-image: url('../images/stations/museum.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
     &--cathedral{
      background-image: url('../images/stations/cathedral.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
     &--park{
      background-image: url('../images/stations/park.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    &-title{
      font-weight: 800;
      font-size: 50px;
      line-height: 59px;
      color: $bg;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 30px;
      text-transform: uppercase;
  }
    &-text{
      color: $bg;
      max-width: 803px;
      margin-bottom: 30px;
  }
    }
    .slick-dots{
      display: flex;
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translate(-50%,0);
    & button{
        font-size: 0;
        padding: 0;
    }
    & li button{
        width: 40px;
        height: 10px;
        border-radius: 10%;
        border: none;
        cursor: pointer;
        background-color: $bg;
        margin-left: 20px;
      }
      & li:nth-child(1) button{
        margin-left: 0;
      }
    & li.slick-active button {
        background-color: $accent;
      }
    }
  }
  &-info{
    background-image: url('../images/about-info/about-info-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    &__inner{
      padding: 70px 0;
    }
    &__items{
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
      margin-bottom: 43px;
    }
    &__item{
      width: 370px;
      height: 322px;
      padding: 22px 8px;
      &--time{
        background-image: url('../images/about-info/time.jpg');
      }
      &--price{
        background-image: url('../images/about-info/price.jpg');
      }
      &--age{
        background-image: url('../images/about-info/age.jpg');
      }
      &-content{
        width: 160px;
        height: 80px;
        background-color: $accent;
        padding: 10px 12px 15px;
        &-title{
          font-size: 20px;
          line-height: 24px;
          font-family: 'Montserrat',sans-serif;
          color: $bg;
          font-weight: 400;
          & span{
            display: block;
            font-size: 24px;
            line-height: 29px;
            font-weight: 700;
          }
        }
      }
    }
    &__btn{
      background-color: transparent;
      border: 1px solid $bg;
      margin: 0 auto;
    }
  }
}
.gallery{
  margin-bottom: 70px;
  &__top{
    height: 100px;
    background-color: $accent;
    &-inner{
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__title{
    color: $bg;
  }
  &__content{
    background-color: #DFEAF5;
    padding: 70px 0;
    &-items{
      &-box{
        display: flex;
      }
    }
    &-item{
      &-link{
        display: block;
        width: 100%;
        height: 100%;
      }
      &-box{
      display: flex;
      flex-wrap: wrap;
      }
      &--1{ 
        min-width: 500px;
        height: 473px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-image: url('../images/gallery/item1.jpg');
      }
       &--2{
        width: 264px;
        height: 234px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-image: url('../images/gallery/item2.jpg');
      }
      &--3{
        width: 396px;
        height: 234px;
        background-image: url('../images/gallery/item3.jpg');
      }
      &--4{
        width: 665px;
        height: 234px;
        margin-bottom: 5px;
        background-image: url('../images/gallery/item4.jpg');
      }
      &--5{
        min-width: 500px;
        height: 234px;
        margin-right: 5px;
        margin-bottom: 5px;
        background-image: url('../images/gallery/item5.jpg');
      }
      &--6{
        width: 264px;
        height: 234px;
        margin-right: 5px;
        background-image: url('../images/gallery/item6.jpg');
      }
      &--7{
        min-width: 500px;
        height: 234px;
        margin-right: 5px;
        background-image: url('../images/gallery/item7.jpg');
      }
      &--8{
        width: 264px;
        height: 234px;
        margin-right: 5px;
        background-image: url('../images/gallery/item8.jpg');
      }
      &--9{
        min-width: 396px;
        height: 473px;
        background-image: url('../images/gallery/item9.jpg');
      }
    }
  }
}
.video{
  padding: 122px 0;
  margin-bottom: 70px;
  display: flex;
  justify-content: center;
  background-image: url('../images/video-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
@import 'media';