@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';

.header{
  min-height: 100vh;
  background-image: url('../images/header-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: inset 0px -461px 78px 8px rgba(0, 0, 0, 0.5);
  &__inner{
    padding-top: 43px;
    padding-bottom: 110px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__content{
  &-title{
    text-align: center;
    font-size: 100px;
    line-height: 122px;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 0.02em;
    color: $bg;
    & span{
      text-transform: uppercase;
      display: block;
      font-weight: 500;
      font-size: 50px;
      line-height: 61px;
    }
  }
}
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list{
    display: flex;
    &-link{
      text-transform: uppercase;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      color: $bg;
      & + .nav__list-link{
        margin-left: 20px;
      }
    }
  }
  &__btn{
    min-width: 215px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    color: $bg;
    text-transform: uppercase;
  }
}
.timer{
  text-align: center;
  &__title{
    color: $bg;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 37px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
    & span{
      font-weight: 600;
    }
  }
  &__box{
    display: flex;
    justify-content: center;
  }
  &__content{
    font-size: 40px;
    line-height: 49px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: $bg;
  }
  &__text{
    color: $bg;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    text-transform: uppercase;
  }
  &__item{
    text-align: center;
    & + .timer__item{
      margin-left: 30px;
    }
  }
}
.about{
  &-quest{
    position: relative;
    &__bg{
    width: 50%;
    height: 100%;
    background-image: url('../images/about-quest-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% center;
    position: absolute;
    right: 0;
    }
    &__inner{
      padding: 70px 0 58px;
    }
    &__title{
      margin-bottom: 30px;
    }
    &__text{
      max-width: 500px;
      margin-bottom: 10px;
      & + .about-quest__text{
        margin-bottom: 30px;
      }
    }
  }
  &-stations{
    position: relative;
    &__item{
      height: 570px;
      &-inner{
        height: 570px;
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      &--main{
      background-image: url('../images/stations/main.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
     &--museum{
      background-image: url('../images/stations/museum.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
     &--cathedral{
      background-image: url('../images/stations/cathedral.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
     &--park{
      background-image: url('../images/stations/park.jpg');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
    }
    &-title{
      font-weight: 800;
      font-size: 50px;
      line-height: 59px;
      color: $bg;
      font-family: 'Raleway', sans-serif;
      margin-bottom: 30px;
      text-transform: uppercase;
  }
    &-text{
      color: $bg;
      max-width: 803px;
      margin-bottom: 30px;
  }
    }
    .slick-dots{
      display: flex;
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translate(-50%,0);
    & button{
        font-size: 0;
        padding: 0;
    }
    & li button{
        width: 40px;
        height: 10px;
        border-radius: 10%;
        border: none;
        cursor: pointer;
        background-color: $bg;
        margin-left: 20px;
      }
      & li:nth-child(1) button{
        margin-left: 0;
      }
    & li.slick-active button {
        background-color: $accent;
      }
    }
  }
  &-info{
    padding: 70px 0;
    &__items{
      display: flex;
      flex-wrap: wrap;
    }
    &__item{
      width: 390px;
      height: 322px;
      padding: 22px 8px;
      &--time{
        background-image: url('../images/about-info/time.jpg');
      }
      &--price{
        background-image: url('../images/about-info/price.jpg');
      }
      &--age{
        background-image: url('../images/about-info/age.jpg');
      }
      &-content{
        width: 160px;
        height: 80px;
        background-color: $accent;
        padding: 10px 12px 15px;
        &-title{
          font-size: 20px;
          line-height: 24px;
          font-family: 'Montserrat',sans-serif;
          color: $bg;
          font-weight: 400;
          & span{
            display: block;
            font-size: 24px;
            line-height: 29px;
            font-weight: 700;
          }
        }
      }
    }
  }
}
.gallery{
  position: relative;
  &__top{
    height: 100px;
    background-color: $accent;
    &-inner{
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
  &__title{
    color: $bg;
  }
  &__btn{
    border: 1px solid $bg;
  }
  &__arrows{
    display: flex;
    justify-content: center;
  }
  &__slick-btn{
    background-color: transparent;
    border: none;
    cursor: pointer;
    & + .gallery__slick-btn{
      margin-left: 20px;
    }
  }
  &__content{
    .slick-slide{
      margin: 0 10px;
    }
    padding: 70px 0;
    background-color: #DFEAF5;
    &-item{ 
      display: grid !important;
      grid-template-columns: 500px 264px 396px;
      grid-template-rows: 1fr 1fr;
      grid-gap: 5px;
    }
    &-item img:nth-child(1){
      grid-row: span 2;
    }
    &-item img:nth-child(4){
      grid-column: span 2;
    }
  }
}
@import 'media';