@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
  min-height: 100vh;
  background-image: url('../images/header-bg.jpg');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  box-shadow: inset 0px -461px 78px 8px rgba(0, 0, 0, 0.5);
  &__inner{
    padding-top: 43px;
    padding-bottom: 110px;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }
  &__content{
  &-title{
    text-align: center;
    font-size: 100px;
    line-height: 122px;
    font-family:'Montserrat', sans-serif;
    letter-spacing: 0.02em;
    color: $bg;
    & span{
      text-transform: uppercase;
      display: block;
      font-weight: 500;
      font-size: 50px;
      line-height: 61px;
    }
  }
}
}
.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__list{
    display: flex;
    &-link{
      text-transform: uppercase;
      font-size: 20px;
      line-height: 24px;
      font-weight: 600;
      font-family: 'Montserrat', sans-serif;
      color: $bg;
      & + .nav__list-link{
        margin-left: 20px;
      }
    }
  }
  &__btn{
    width: 215px;
    height: 49px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $accent;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    font-family: 'Montserrat', sans-serif;
    color: $bg;
    text-transform: uppercase;
  }
}
.timer{
  text-align: center;
  &__title{
    color: $bg;
    font-weight: 500;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    line-height: 37px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
    & span{
      font-weight: 600;
    }
  }
  &__box{
    display: flex;
    justify-content: center;
  }
  &__content{
    font-size: 40px;
    line-height: 49px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    color: $bg;
  }
  &__text{
    color: $bg;
    font-weight: 700;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    line-height: 22px;
    text-transform: uppercase;
  }
  &__item{
    text-align: center;
    & + .timer__item{
      margin-left: 30px;
    }
  }
}
.about{
  &-quest{
    position: relative;
    &__bg{
    width: 50%;
    height: 100%;
    background-image: url('../images/about-quest-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% center;
    position: absolute;
    right: 0;
    }
    &__inner{
      padding: 70px 0 58px;
    }
    &__title{
      margin-bottom: 30px;
    }
    &__text{
      max-width: 500px;
      margin-bottom: 10px;
      & + .about-quest__text{
        margin-bottom: 30px;
      }
    }
  }
}

@import 'media';